{% extends './b_ridge/pages/base.html' %}{% block title %}Celebrate{% endblock %} {% load staticfiles %} {% block header %}

<div id="image-header" class="bar dark parallax-background vendor-header"
    style=" padding-top: 350px;padding-bottom: 350px; background: url('{% static './b_ridge/images/celebrate/main.jpg' %}') no-repeat center !important; margin-bottom: 20px;  background-position: center !important; background-size: cover !important; ">
        <div class="container">
            <div class="header-content">
             
    
            </div><!-- header-content -->
        </div><!-- / container -->
    </div>
{% endblock %}

{% block frontend_content %}
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="row space-top-10">
                    <div class="col-md-12 about-text-2   fadeInLeft second">
                        <h2 class="text-primary">Surrounded in Beauty</h2>
                        <div class="separator-line space-bottom text-left">&nbsp;</div>
                        <p style="line-height: 24px">Basking Ridge Catering takes pride in crafting the most impressive of affairs. Whether you are hosting a wedding, mitzvah, golf outing or important family milestone; allow us to create a memorable experience for you and your guests. Basking Ridge Country Club Catering’s friendly and professional event coordinators will guide you through every step of your function. It is our passion to provide warm hospitality, excellent service, and superior quality. Panoramic views of the manicured fairways provide an elegant and unforgettable setting for your special day.</p>
                        <br>
                        <div class="col-md-6">
                            <img src="{% static './b_ridge/images/celebrate/1.jpeg' %}" class="img-responsive " />
                        </div>
                        <div class="col-md-6">
                            <img src="{% static './b_ridge/images/celebrate/2.jpg' %}" class="img-responsive " />
                        </div>
                    </div><!-- / about-text-2 -->
                </div>
                <br><br>
                <div class="row space-top-10">
                    <div class="col-md-12 about-text-2   fadeInLeft second">
                        <h2 class="text-primary">The Perfect Day...The Perfect Tent</h2>
                        <div class="separator-line space-bottom text-left">&nbsp;</div>
                        <p style="line-height: 24px">For a unique setting, consider hosting your special occasion in our Banquet Tent.  Vaulted ceilings draped with fabric,
                                chandelier lighting, and lounge style outdoor patio seating will set the stage for a distinctive event.</p>
                        <br>
                        <div class="col-md-6">
                            <img src="{% static './b_ridge/images/celebrate/3.jpg' %}" class="img-responsive " />
                        </div>
                        <div class="col-md-6">
                            <img src="{% static './b_ridge/images/celebrate/4.jpg' %}" class="img-responsive " />
                        </div>
                    </div><!-- / about-text-2 -->
                </div>
                <br><br>
                <div class="row space-top-10">
                    <div class="col-md-12 about-text-2   fadeInLeft second">
                        <h2 class="text-primary">Breathtaking Ceremonies</h2>
                        <div class="separator-line space-bottom text-left">&nbsp;</div>
                        <p style="line-height: 24px">Romantic and scenic outdoor ceremonies on our meticulously manicured golf course are nothing short of spectacular! A picturesque background ensures breathtaking ceremony photos as you exchange vows in front of your family and friends. In case of inclement weather, we offer an ideal indoor ceremony option with panoramic views of the golf course. Our expert ceremony coordination includes your rehearsal and day-of ceremony guidance.</p>
                        <br>
                        <div class="col-md-6">
                            <img src="{% static './b_ridge/images/celebrate/5.jpg' %}" class="img-responsive " />
                        </div>
                        <div class="col-md-6">
                            <img src="{% static './b_ridge/images/celebrate/6.jpg' %}" class="img-responsive " />
                        </div>
                    </div><!-- / about-text-2 -->
                </div>
            </div>
            <!-- / panel -->
        </div>
    </div>
    <!-- / col-sm-12 -->
</section>
{% endblock %}